.MUTTU1{
    color: rgb(153, 51, 54);
    background-color: rgb(255, 213, 0);
}
.MUTTU2{
    color: rgb(153, 51, 54);
    background-color: rgb(0, 255, 208);
}

    .MUTTU3{
    color: rgb(153, 51, 54);
    background-color: rgb(25, 0, 255);
    }
#box1{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 157, 0);
    padding: 10px;
    border: 5px solid black;
    margin: 20px;
    border-top-left-radius: 20px;
    border-radius: 50%;
    float: left;
    position: relative;

}


#box2{
    height: 100px;
    width: 100px;
    background-color: rgb(239, 238, 234);
    padding: 10px;
    border: 5px solid black;
    margin: 50px;
    border-top-left-radius: 20px;
    border-radius: 50%;
    float:righ;
    position:float;

}

#box3{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 42);
    padding: 10px;
    border: 5px solid black;
    margin: 50px;
    border-top-left-radius: 20px;
    border-radius: 50%;
    float: left;
    position: float;
}

div1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    background-color: blueviolet;
    float:right;
    position: relative;
}

div2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    background-color: blueviolet;
}

div3{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    background-color: blueviolet;
}

#box:hover{
    background-color: blue;
    border-radius: 20%;
    box-shadow: 0px 0px ;
}
